body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.content{
  margin-top:2rem;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav{
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: 0;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child {
  align-self: flex-end
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 90px;
  width: 90px;
  border-radius: 25px;
  margin: 10px;
  background: url('./users.jpg') no-repeat;
  background-position: 5% 10%;
}

.sarah {
  background-position: 5% 10%;
}

.tyler {
  background-position: 77% 32%;
}

.jhon{
  background-position: 23% 7%;
}

.question-info{
  display: flex;

}

.question-info-detail{
  display: flex;
  flex-direction: column;
}

.login-container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}


.login-container select{
  margin-bottom: 10px;
}

.logout{
  padding: 10px;
}